<!DOCTYPE html>
<html>
  <head>
    <title><%= user.username %> Profile</title>
  </head>
  <body>
    <h1><%= user.username %> Profile</h1>
    <ul>
      <li>Full Name: <%= user.fullname %></li>
      <li>Email: <%= user.email %></li>
      <li>Phone: <%= user.phone %></li>
      <li>Address: <%= user.address %></li>
      <li>Birthday: <%= user.birthday.toDateString() %></li>
    </ul>
    <form action="/update-avatar" method="post" enctype="multipart/form-data">
      <input type="file" name="avatar">
      <button type="submit">Update Avatar</button>
    </form>
    <a href="/edit-profile">Edit Profile</a>
    <a href="/change-password">Change Password</a>
  </body>
</html>
